table {
   font-family: 'FantasqueSansMonoRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 25px;
   color: #151515;
    border: 2px solid #000000;
    background-color: #cccccc;
    margin: auto;
}
.puzzle_square{
    border: 1px solid #000000;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 200%;
    background-color: #666666;
}


.text_container{
   font-family: 'FantasqueSansMonoRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 18px;
    margin: auto;
    color: #444444;
    text-align: center;
}

.zero_square{
    background-color: #cccccc;
}

h1 {
   font-family: 'FantasqueSansMonoRegular';
   font-weight: normal;
   font-style: normal;
    color: #444444;
    text-align: center;
    margin: auto;
} 

body {
    background-color: #dddddd
}
